.broadband-availability {

}



//input[placeholder="Postcode"]{ text-transform: uppercase;}

.showcontent { display:'';}
.hidecontent { display: none; }
ion-card {
  width:100%;
  margin: 0 0 12px 0;
}
ion-card-header {
  background:#387ef5;
  color:#FFF !important;
}
